<header>
	<pre class="ascii logo">
    ___, __, __,
 ` /  |_) |_ 
  /   |_) |  
 ~~~  ~   ~~~                                                                                                                
   </pre>
	<pre class="ascii name">
███████╗ ██████╗ █████╗ ███████╗██╗  ██╗██████╗ ██╗      ██████╗  ██████╗██╗  ██╗███████╗██╗  ██╗██████╗ ██╗      ██████╗ ██████╗ ███████╗██████╗ 
╚══███╔╝██╔════╝██╔══██╗██╔════╝██║  ██║██╔══██╗██║     ██╔═══██╗██╔════╝██║ ██╔╝██╔════╝╚██╗██╔╝██╔══██╗██║     ██╔═══██╗██╔══██╗██╔════╝██╔══██╗
  ███╔╝ ██║     ███████║███████╗███████║██████╔╝██║     ██║   ██║██║     █████╔╝ █████╗   ╚███╔╝ ██████╔╝██║     ██║   ██║██████╔╝█████╗  ██████╔╝
 ███╔╝  ██║     ██╔══██║╚════██║██╔══██║██╔══██╗██║     ██║   ██║██║     ██╔═██╗ ██╔══╝   ██╔██╗ ██╔═══╝ ██║     ██║   ██║██╔══██╗██╔══╝  ██╔══██╗
███████╗╚██████╗██║  ██║███████║██║  ██║██████╔╝███████╗╚██████╔╝╚██████╗██║  ██╗███████╗██╔╝ ██╗██║     ███████╗╚██████╔╝██║  ██║███████╗██║  ██║
╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝                                           
</pre>
</header>